{% load static %}
<!DOCTYPE html>
<html>
    <head class="register">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EPT - Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
    </head>
    <body class="register">
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{form.errors}}</strong>
        </div>
        {% endif %}
        <div class="container register">
            <div class="container-form register">
                <form class="container-form" method="post" method="POST">
                    {% csrf_token %}
                    <h1>Create Account</h1>
                    <br>
                    {{form.username}}
                    {{form.email}}
                    {{form.password1}}
                    {{form.password2}}
                    <p>Already registered? <a href={% url "userauths:sign-in" %}><strong class="register">Login</strong></a></p>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </body>
</html>