{% load static %}
<!DOCTYPE html>
<html>
    <head class="login">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EPT - Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'assets\css\style.css' %}">
    </head>
    <body class="login">
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{form.errors}}</strong>
        </div>
        {% endif %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container login">
            <div class="container-form login">
                <form class="container-form" method="post">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <br>
                    {{form.username}}
                    {{form.password}}
                    <p>Don't have an account? <a href="{% url "userauths:sign-up" %}"><strong class="register">Sign up now.</strong></a></p>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>