{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets\css\dashboard.css' %}">
    <title>Admin panel</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>EPT</h2>
            </div>
            <div class="search">
                <input type="text" name="search" placeholder="search here">
                <label for="search"><i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img src="img/user.png" alt="">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="{% url "manager:dashboard" %}">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "manager:transactions" %}">
                        <i class="fas fa-hand-holding-usd"></i>
                        <div>Transactions</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "manager:wallet" %}">
                        <i class="fas fa-wallet"></i>
                        <div>Wallet</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        <div>Help</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "userauths:sign-out" %}">
                        <i class="fas fa-arrow-from-left"></i>
                        <div>Logout</div>
                    </a>
                </li>
            </ul>
        </div>
        
        {% block content %}

        {% endblock %}
    <script src="{% static 'chart.js@4.4.1/dist/chart.umd.min.js' %}"></script>
    <script src="{% static 'assets\js\chart1.js' %}"></script>
    <script src="{% static 'assets\js\chart2.js' %}"></script>
    <script src="{% static 'assets\js\transactions.js' %}"></script>
</body>

</html>