{% extends 'dashboard/base.html' %}

{% block content %}

<div class="main">
    <div class="wallet">
        <h1>Hello {{ user.username }}!</h1>
        
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>{{ form.errors }}</strong>
        </div>
        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="wallet-choices">
            <ul>
                <li>
                    <a href="{% url "manager:create-wallet" %}">
                        <div>Create wallet</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "manager:update-wallet" %}">
                        <div>Update wallet</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "manager:delete-wallet" %}">
                        <div>Delete wallet</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}